include ../includes/jquery
script(src="/chartJS/Chart.min.js")
//script(src='/scripts/basicChart.js')
include ../includes/bootstrap.pug
include ../includes/menu.pug
script(type="text/javascript").
    $(document).ready(function(){
    
        var pollData = !{JSON.stringify(poll)}
        var ctx = document.getElementById('myChart');

        var data = {
        
            labels: pollData.options.map(function(option){
                return option.option;
            }),
            datasets: [
                {
                    data: pollData.options.map(function(option){
                        
                        return option.votes;
                    }),
                    backgroundColor: [
                        'rgba('+random(0,255)+', '+random(0,255)+', ' +random(0,255)+',1)',
                        'rgba('+random(0,255)+', '+random(0,255)+', ' +random(0,255)+',1)',
                        'rgba('+random(0,255)+', '+random(0,255)+', ' +random(0,255)+',1)'
                    ]
                }
            ]
        
        };
    
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: data
        
        });    
    
        function random(min,max) {
            return Math.floor((Math.random() * max) + min);
        }    
    });

.container
    .row
        .col-md-6.col-md-offset-3
            .text-center.page-header
                h3 #{poll.question}
            form.form(action=`/polls/${poll._id}/vote` method='POST')
                .form-group
                    each thing, index in poll.options
                        .radio
                            label
                                input(type='radio' name="radioOptions" value=`${index}`) 
                                | #{thing.option} - #{thing.votes}
                    if request.user
                        .input-group
                            span.input-group-addon
                                input(type="radio" name="radioOptions" value="addOption")
                            input(type="text" class="form-control" name="newOption")
                .form-group
                    button.btn.btn-primary(type='submit') 
                        span.glyphicon.glyphicon-send
                        | &nbsp; Vote!
            canvas#myChart(width="400" height="400")